.cart-page {
  width: 80%;
  padding: 20px;
  margin: 60px auto;
}

.total {
  padding: auto 40px;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}

.order {
  width: 100%;
  text-align: right;
}

.btn {
  width: 120px;
  font-size: 14px;
  background-color: #e4e4e4;
}
